@font-face {

    font-family: "Segoe MDL2 Assets";

    src: local("Segoe MDL2 Assets");

}





* {

    margin: 0;

    padding: 0;

    box-sizing: border-box;

}





body {

    width: 100vw;

    height: 100vh;

    overflow: hidden;

    font-family: Arial, sans-serif;

    color: white;

    background-image: url("./assets/wallpaper.jpg");

    background-size: cover;

    background-position: center bottom;

}





#desktop {

    position: fixed;

    inset: 0;

}





.icon {

    font-family: "Segoe MDL2 Assets";

    display: flex;

    align-items: center;

    justify-content: center;

}





/* =========================
   STATUS BAR
========================= */


.status-bar {

    position: fixed;

    top: 13px;

    right: 13px;

    height: 35px;

    padding: 0 15px;

    display: flex;

    justify-content: space-between;

    align-items: center;

    gap: 12px;

    background: rgba(0,0,0,0.5);

    backdrop-filter: blur(12px);

    border-radius: 20px;

    z-index: 10000;

    transition: 0.25s;

}





.status-bar.fullscreen {

    left: 50%;

    right: auto;

    transform: translateX(-50%);

    top: 10px;

}





.status-bar p {

    margin: 0;

}





.status-bar .icon:nth-child(2) {

    font-size: 16px;

    transform: translateY(-3px);

}





.status-bar .icon:nth-child(3) {

    font-size: 15px;

    transform: translateY(-1px);

}





.status-bar .icon:nth-child(4) {

    font-size: 21px;

    transform: translateY(-2px);

}





/* =========================
   DOCK
========================= */


.dock {

    position: fixed;

    left: 50%;

    bottom: 13px;

    transform: translateX(-50%);

    min-width: 260px;

    width: fit-content;

    height: 50px;

    padding: 0 18px;

    display: flex;

    align-items: center;

    gap: 12px;

    background: rgba(0,0,0,0.45);

    backdrop-filter: blur(12px);

    border-radius: 18px;

    z-index: 9999;

    transition: 0.25s;
    #welcome-button {

        display: flex !important;

        flex-direction: row !important;

        align-items: center;

        gap: 6px;

        font-size: 15px;
        margin-left: 15px;
        margin-right: 15px;

    }

}





.dock.hidden {

    bottom: -55px;

}





.dock-icon {

    position: relative;

    width: 32px;

    height: 32px;

    display: flex;

    align-items: center;

    justify-content: center;

    font-family: "Segoe MDL2 Assets";

    font-size: 20px;

    border-radius: 10px;

    cursor: pointer;

    transition: 0.2s;

}





.dock-icon:hover {

    transform: translateY(-3px) scale(1.12);

}





.dock-icon:active {

    transform: scale(0.9);

}





.dock-separator {

    width: 1px;

    height: 25px;

    background: #777;

}





.dock-app {

    position: relative;

    height: 32px;

    padding: 0 14px;

    display: flex;

    align-items: center;

    justify-content: center;

    border-radius: 12px;

    background: rgba(255,255,255,0.08);

    cursor: pointer;

    transition: 0.2s;

    white-space: nowrap;

}





.dock-app:hover {

    background: rgba(255,255,255,0.18);

}





.dock-app.active {

    background: rgba(255,255,255,0.25);

}


.dock-app.running::after {

    content: "";

    position: absolute;

    bottom: 2px;

    left: 50%;

    transform: translateX(-50%);

    width: 22px;

    height: 3px;

    background: lightgreen;

    border-radius: 10px;

}

/* =========================
   WINDOWS
========================= */


.window {

    position: absolute;

    width: 700px;

    height: 400px;

    left: 50%;

    top: 50%;

    transform: translate(-50%, -50%);

    display: flex;

    flex-direction: column;

    background: rgba(0,0,0,0.65);

    backdrop-filter: blur(12px);

    border-radius: 16px;

    overflow: hidden;

    box-shadow: 0 10px 40px rgba(0,0,0,0.5);

    z-index: 100;

}


.window.calculator-window {

    width: 350px;

    height: 450px;

}



.window.dragging {

    transition: none;

}





.window.maximized {

    width: 100vw;

    height: calc(100vh - 0px);

    left:50% !important;

    top:50% !important;

    transform:translate(-50%,-50%) !important;

    border-radius:0;

}





/* =========================
   WINDOW BAR
========================= */


.window-bar {

    height: 45px;

    padding: 8px 12px;

    display: flex;

    align-items: center;

    justify-content: space-between;

    cursor: grab;

    user-select: none;

}





.window-bar:active {

    cursor: grabbing;

}





.window-title {

    color: lightblue;

    font-weight: bold;

    font-size: 16px;

}





.window-buttons {

    display: flex;

    gap: 6px;

}





.window-buttons button {

    width: 25px;

    height: 25px;

    border-radius: 50%;

    border: none;

    font-weight: bold;

    cursor: pointer;

    transition: 0.2s;

}





.window-buttons button:hover {

    transform: scale(1.15);

    filter: brightness(1.2);

}





.buttons button:active {

    transform: scale(0.9);

}





.minimize {

    background: #f1c40f;

}





.maximize {

    background: #2ecc71;

}





.close {

    background: #e74c3c;

}





/* =========================
   WINDOW SEPARATOR
========================= */


.separator {

    height: 2px;

    background: rgba(255,255,255,0.3);

}





/* =========================
   APP CONTENT
========================= */








.window-content::-webkit-scrollbar {

    width: 7px;

}





.window-content::-webkit-scrollbar-thumb {

    background: #555;

    border-radius: 10px;

}





/* =========================
   APP GENERAL STYLE
========================= */


.app-container {

    width: 100%;

    min-height: 100%;

    color: white;

}





.app-container h1 {

    color: lightgreen;

}





.app-container img {

    width: 120px;

    height: 120px;

    object-fit: cover;

    border-radius: 20px;

}





.app-container a {

    color: #4da6ff;

    text-decoration: none;

}





.app-container a:hover {

    text-decoration: underline;

}





/* =========================
   WINDOW ANIMATION
========================= */


.window.opening {

    animation: openWindow 0.25s ease;

}





@keyframes openWindow {


    from {

        opacity: 0;

        transform: translate(-50%,-50%) scale(0.85);

    }



    to {

        opacity: 1;

        transform: translate(-50%,-50%) scale(1);

    }


}





.window.closed {

    display: none !important;

}
/* =========================
   HIDDEN ELEMENTS
========================= */


.hidden {

    display: none !important;

}





/* =========================
   FULLSCREEN BEHAVIOR
========================= */


.window.maximized .window-content {

    height: auto;

    flex: 1;
}





.window.maximized .window-bar {

    height: 47px;

}





.window.maximized .separator {

    height: 2px;

}





/* =========================
   DESKTOP SELECTION
========================= */


#desktop,
.window,
.dock,
.status-bar {

    user-select: none;

}





.window-content {
    display:flex;

    overflow-y:auto;

    overflow-x:hidden;

    padding:15px;
}





/* =========================
   SMOOTH MOVEMENT
========================= */


.window {

    position: absolute;

    width: 700px;

    height: 400px;

    left: 50%;

    top: 50%;

    transform: translate(-50%, -50%);

    display: flex;

    flex-direction: column;
}





.window.dragging {

    transition: none;

}





/* =========================
   DOCK APP STATES
========================= */


.app-button.running::after {

    content: "";

    position: absolute;

    bottom: -4px;

    left: 50%;

    transform: translateX(-50%);

    width: 22px;

    height: 3px;

    background: lightgreen;

    border-radius: 10px;

    pointer-events: none;

}


.dock-app:hover {

    transform: translateY(-3px);

}





/* =========================
   START BUTTON
========================= */


#start-button {

    font-size: 22px;

}





/* =========================
   LINKS
========================= */


a {

    cursor: pointer;

}





/* =========================
   IMAGES
========================= */


img {

    max-width: 100%;

}





/* =========================
   RESPONSIVE PROTECTION
========================= */


@media(max-width:800px){


    .window {

        width: 90vw;

        height: 70vh;

    }



    .dock {

        max-width: 90vw;

        overflow-x: auto;

    }


}





/* =========================
   SCROLLBAR GLOBAL
========================= */


::-webkit-scrollbar {

    width: 8px;

}





::-webkit-scrollbar-track {

    background: transparent;

}





::-webkit-scrollbar-thumb {

    background: rgba(255,255,255,0.3);

    border-radius: 10px;

}





::-webkit-scrollbar-thumb:hover {

    background: rgba(255,255,255,0.5);

}





/* =========================
   STARTUP FADE
========================= */


#desktop {

    animation: desktopFade 0.5s ease;

}





@keyframes desktopFade {


    from {

        opacity:0;

    }


    to {

        opacity:1;

    }


}

.os-name {

    font-size: 20px;

    font-weight: bold;

    color: #66ccff;

    margin: 0;

    letter-spacing: 1px;

}



.status-right {

    display: flex;

    align-items: center;

    gap: 15px;

    margin-right: 15px;

}

.os-brand {

    display: flex;

    align-items: center;

    gap: 8px;

    margin-left: 15px;

}



.os-logo {

    width: 32px;

    height: 32px;

    object-fit: contain;

    position: relative;

    top: -4px;

    left: 12px;
    
    position: relative;

    z-index: 1;

}



.os-name {

    font-size: 20px;

    font-weight: bold;

    color: #3399ff;

    margin: 0;

    letter-spacing: 1px;

    position: relative;

    z-index: 2;

}

.desktop-icon {

    width: 90px;

    text-align: center;

    color: white;

    cursor: pointer;

    user-select: none;

    margin: 20px;

}


.desktop-icon img {

    width: 64px;

    height: 64px;

    border-radius: 16px;

    object-fit: cover;

    filter: drop-shadow(0 0 8px black);

}


.desktop-icon p {

    margin: 5px 0;

    font-size: 14px;

}


.text-icon {

    font-size: 45px;

    height: 64px;

}
.dock-icon img {

    width: 32px;

    height: 32px;

    border-radius: 8px;

}

.emoji-icon {

    font-size: 50px;

    height: 64px;

    display: flex;

    align-items: center;

    justify-content: center;

}

.notes-app {

    width: 100%;
    height: 100%;

    padding: 15px;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    gap: 15px;

    color: white;

    font-family: system-ui, sans-serif;

}



/* ==========================
   Add Note Area
   ========================== */


.add-note {

    background: rgba(255,255,255,0.12);

    backdrop-filter: blur(10px);

    border-radius: 14px;

    padding: 15px;

    display: flex;

    flex-direction: column;

    gap: 10px;

}



#note-title {

    background: rgba(0,0,0,0.25);

    border: none;

    outline: none;

    border-radius: 10px;

    padding: 10px;

    color: white;

    font-size: 16px;

}



#note-title::placeholder,
#note-content::placeholder {

    color: rgba(255,255,255,0.6);

}



#note-content {

    height: 120px;

    resize: none;

    background: rgba(0,0,0,0.25);

    border: none;

    outline: none;

    border-radius: 10px;

    padding: 10px;

    color: white;

    font-size: 14px;

}



/* Save button */

#save-note {

    width: 45px;

    height: 45px;

    align-self: flex-end;

    border-radius: 50%;

    border: none;

    cursor: pointer;

    font-size: 24px;

    background: rgba(255,255,255,0.2);

    color: white;

    transition: 0.2s;

}



#save-note:hover {

    background: rgba(255,255,255,0.35);

}



/* ==========================
   Saved Notes
   ========================== */


.saved-title {

    font-size: 18px;

    font-weight: bold;

}



#notes-list {

    display: flex;

    flex-direction: column;

    gap: 12px;

    width: 100%;

}



/* Note cards */

.note-card {

    width: 100%;

    box-sizing: border-box;

    padding: 12px;

    border-radius: 12px;

    background: rgba(255,255,255,.08);

    cursor: pointer;

}



.note-card:hover {

    transform: scale(1.05);

    background: rgba(255,255,255,0.2);

}



.note-card h3 {

    margin: 0;

    font-size: 15px;

}



.note-card p {

    margin-top: 8px;

    font-size: 12px;

    opacity: 0.8;

}



/* Scroll bar */

#notes-list::-webkit-scrollbar {

    width: 6px;

}


#notes-list::-webkit-scrollbar-thumb {

    background: rgba(255,255,255,0.3);

    border-radius: 10px;

}