.notes-app {

    display: flex;

    flex-direction: column;

    padding: 10px;

}



/* Writing area */

.add-note {

    display: flex;

    flex-direction: column;

    gap: 8px;

}



.notes-app textarea {

    width: 100%;

    height: 40px;

    resize: none;

    box-sizing: border-box;

    padding: 15px;

    border-radius: 12px;

    border: none;

    outline: none;

    background: rgba(255,255,255,0.12);

    color: white;

    font-size: 16px;

    backdrop-filter: blur(8px);

}



.notes-app textarea::placeholder {

    color: rgba(255,255,255,0.6);

}



.notes-app textarea:focus {

    background: rgba(255,255,255,0.18);

}



/* Saved Notes title */

.saved-title {

    margin-top: 15px;

    margin-bottom: 10px;

}



/* Saved notes cards */

#notes-list {

    display: flex;

    flex-wrap: wrap;

    gap: 12px;

}


.note-popup{

    position:fixed;

    top:50%;

    left:50%;

    transform:translate(-50%,-50%);

    width:500px;

    max-height:70vh;

    overflow:auto;

    background:#202124;

    color:white;

    border-radius:15px;

    padding:20px;

    z-index:99999;

    box-shadow:0 15px 40px rgba(0,0,0,.5);

}

.note-popup-header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:20px;

}

.note-popup-content{

    white-space:pre-wrap;

    line-height:1.6;

}

.close-note{

    background:none;

    border:none;

    color:white;

    font-size:20px;

    cursor:pointer;

}


