.wallpapers {

    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 12px;

}


.wallpaper-option {

    height: 70px;

    border: none;

    border-radius: 14px;

    color: white;

    font-size: 14px;

    font-weight: 600;

    cursor: pointer;

    transition: transform .2s, opacity .2s;

}


.wallpaper-option:hover {

    transform: scale(1.04);

    opacity: .85;

}


.wallpaper-option[data-wall="current"] {

    background: linear-gradient(
        135deg,
        #111,
        #444,
        #111
    );

}


.wallpaper-option[data-wall="black"] {

    background: #000;

}


.wallpaper-option[data-wall="blue"] {

    background: #071a3d;

}


.wallpaper-option[data-wall="green"] {

    background: #062b1b;

}


.wallpaper-option[data-wall="purple"] {

    background: #210b35;

}